<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028115043693-ts753nlpgvethar7c3k2o6afr05al1rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028115043693-ts753nlpgvethar7c3k2o6afr05al1rm</string>
	<key>API_KEY</key>
	<string>AIzaSyCAVqBEM0DrJZWjhI_YCVFR3QL6HwwzD2k</string>
	<key>GCM_SENDER_ID</key>
	<string>1028115043693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.savia.app</string>
	<key>PROJECT_ID</key>
	<string>saviaapp-1f19f</string>
	<key>STORAGE_BUCKET</key>
	<string>saviaapp-1f19f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028115043693:ios:d13c29b1ad15fb52f33664</string>
</dict>
</plist>